$secondary-color: #ffbb00;
.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  .content-todolist {
    width: 100%;
    display: flex;
    justify-content: center;
    animation: hidemenu 0.7s;
    position: relative;
  }
  .todo-list {
    width: 600px;
    margin-top: 20px;
    .text {
      color: white;
      font-size: 30px;
      text-align: center;
    }
    .ongoing {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
.null {
  background-color: white;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  margin: 20px 0;
}

// =======> Animasi <======
